
$negro: #232323;
$blanco: #ffffff;
$crema: #E7DBD7;
$marron: #9C6C5B;
$beige: #C0A498;
$champagne: #E4D7CE;

.texto__negro{
    color: $negro;
}

.texto__blanco{
    color: $blanco;
}

.fondo__crema{
    background-color: $crema;
}

.fondo__marron{
    background-color: $marron;
}

.fondo__beige{
    background-color: $beige;
}

.fondo__champagne{
    background-color: $champagne;
}