.texto__14{
    font-size: 14px;
}

.texto__18{
    font-size: 18px;
}

.texto__24{
    font-size: 24px;
}

.texto__90{
    font-size: 90px;
    line-height: 1.11em;
}

.texto__72{
    font-size: 72px;
}

.texto__120{
    font-size: 120px;
}

.serif{
    font-family: 'Prata', serif;
    font-weight: inherit;
}

.texto__upper{
    text-transform: uppercase;
}